{% extends "baseTemplates/base.html" %}

{% block head %}
    <title>Administracion de usuarios</title>
{% endblock head %}

{% block header %}
    <h1>Esta es la página de administracion de usuarios</h1>
{% endblock header %}

{% block navBar %}
    {% include "baseTemplates/navBar.html" %}
{% endblock navBar %}

{% block content %}
     <table id="tablaAdminusu" align="center">
        <thead >
            <tr >
                <th ><a  href="{% url 'nuevoUsuario' %}"><h3>Crear usuario</h3></a></th>
            </tr>
        </thead>
    </table>
    <h3>Usuarios:</h3>
        <table class="table table-sm table-striped table-bordered table-hover nowrap">
        <tr>
            <th>UVUS</th>
            <th>ROL</th>
            <th>Acciones</th>
        </tr>
        {% for user in usuarios %}
        <tr>
            <th>
                {{ user.uvus }}
            </th>
            <th>
                {{ user.rol }}
            </th>
            <th>
                <button onclick="modificarUsuario('{{ user.uvus }}')">Modificar usuario</button>
                <button onclick="eliminarUsuario('{{ user.uvus }}')">Eliminar usuario</button>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% load static %}
    <script>
        function modificarUsuario(uvus) {
        window.location.href = '/admin/usuarios/modificar/'+uvus;
    }

    function eliminarUsuario(uvus) {
        window.location.href = '/admin/usuarios/eliminar/'+uvus;
    }
    </script>
{% endblock content %}

{% block footer %}
    {% include "baseTemplates/footer.html" %}
{% endblock footer %}