{% extends "baseTemplates/base.html" %}

{% block head %}
    <title>Admin</title>
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="https://use.fontawesome.com/f89af62674.js"></script> -->
{% endblock head %}

{% block header %}
    <h1 class="text-center">Esta es la página de administracion</h1><br>
{% endblock header %}

{% block navBar %}
    {% include "baseTemplates/navBar.html" %}
{% endblock navBar %}

{% block content %}

    <table id="tablaAdmin" class="table table-sm table-striped table-bordered table-hover nowrap">
        <thead>
            <tr>
                <th> <a href="{% url 'adminUsuarios'%}">Adminstrar usuarios</a></th>
                <th><a href="{% url 'productos'%}">Adminstrar productos</a></th>
                <th><a href="{% url 'necesidades'%}">Adminstrar necesidades</a></th>
                <th><a href="{% url 'productos'%}">Adminstrar sugerencias</a></th>
            </tr>
        </thead>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
{% endblock content %}

{% block footer %}
    {% include "baseTemplates/footer.html" %}
{% endblock footer %}