{% extends "baseTemplates/base.html" %}

{% block head %}
    
{% endblock head %}
    <title>Nuevo usuario</title>
{% block header %}
    
{% endblock header %}
    <h1>Usuarios</h1>
{% block navBar %}
    {% include "baseTemplates/navBar.html" %}
{% endblock navBar %}

{% block content %}

<h2>Se dispone a crear un nuevo  usuario </h2><br>

<form action="{% url 'handleNuevoUsuario' %}" method="post">
    {% csrf_token %}
    <label><h4>Uvus:</h4></label>
    <input id="uvusInput" name="uvus" type="text"><br>
    <label>Rol:</label><br>
        <table id="tablaAdminusu" class="table table-sm table-striped table-bordered table-hover nowrap">
        <thead>
            <tr>
                <th ><input id="rolInput" name="rol" type="radio" value="NA"> NA</th>
            </tr>
            <tr>
                <th ><input id="rolInput" name="rol" type="radio" value="MB"> MB</th>
            </tr>
            <tr>
                <th ><input id="rolInput" name="rol" type="radio" value="CD"> CD</th>
            </tr>
            <tr>
                <th ><input id="rolInput" name="rol" type="radio" value="PR"> PR</th>
            </tr>
            <tr>
                <th ><input id="rolInput" name="rol" type="radio" value="SU"> SU</th>
            </tr>
        </thead>
    </table>
            <input type="submit" value="Crear">

</form>

{% endblock content %}

{% block footer %}
    {% include "baseTemplates/footer.html" %}
{% endblock footer %}